* {
  font-family: "Poppins", sans-serif;
  
}

body {
  background-color: #fafafa;
  min-height: 100vh;
  width: 100vw;
}

.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fafafa;
}

.title{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title h1{
  color: rgb(153, 153, 153);
}

.container1 {
  margin-top: 4.5rem;
  padding: 8px;
}

form{
  text-align: center;
}

input[type=email]{
  height: 64px;
  width: 55%;
  padding: 12px 20px;
  margin: 8px 22% 25px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

input[type=password]{
  height: 64px;
  width: 55%;
  padding: 12px 20px;
  margin: 8px 22%;
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

.container2{
  padding: 5px;
  align-items: center;
}

button.submit {
  color: white;
  background-color: black;
  padding: 14px 20px;
  margin: 5px auto 5px;
  display: block; 
  border-radius: 20px;
  cursor: pointer;
  width: 20%;
}

button.submit:hover {
  opacity: 0.8;
}

.sign-in {
  display: block;
  margin-top: 30px;
}


