  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
  }
  
  body {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(#e6e5e4, #ffffff, #fdfdfc);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.header-title {
    flex-grow: 1;
    text-align: center;
}

.header-button {
    flex-grow: 0;
    width: 100px;
}

.header-button button {
    padding: 10px;
    cursor: pointer;
    background: transparent;
    color: black;
    border-radius: 10px;
    border: none;
    font-size: larger;
}

#contained{
  color: white;
  background-color: black;
}

.footer{
  padding: 30px;
    display: flex;
    justify-content:space-between;
}

#data{
  border-color: transparent;
  background-color: transparent;
  padding: 6px;
}


.custom-input {
  width: 50px; /* Ajuste a largura desejada */
  font-size: 10px; /* Ajuste o tamanho da fonte, se necessário */
}

.custom-input .MuiInputBase-input {
  text-align: center;
  padding: 5px 0; /* Ajusta o padding interno */
}

.custom-input .MuiInput-underline:before {
  border-bottom: 2px solid gray; /* Borda inferior padrão */
}

.custom-input .MuiInput-underline:after {
  border-bottom: 2px solid black; /* Borda inferior ao focar */
}
